//colors
$primary	:rgb(255,102,0); //#FF6600 - orange
$text 		:rgb(255,235,204); //#FFEBCC
$lightgray	:rgb(250,250,250) ; //fafafa
$white		:rgb(255,255,255);
$black		:rgb(0,0,0);

// Google Fonts

// Font Variables
$arial: Arial,Helvetica Neue,Helvetica,sans-serif;
$opensans: 'Open Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$pacifico:'Pacifico', cursive;


//font-weight:
$w1:100;
$w3:300;
$w4:400;
$w5:500;
$w7:700;
$w8:800;

$facebookcolor           : hsla(222, 47%, 40%, 1);     // #365397
$twittercolor            : hsla(198, 100%, 47%, 1);    // #00a9f1
$linkedincolor           : hsla(203, 100%, 35%, 1);    // #006db3
$gpluscolor        		 : hsla(8, 74%, 53%, 1);       // #e0452c