@import "variables";
@import "custommixins";


html{
	font-size:100%;
	height:100%;
}
body{
	font-family:$arial;
	@include fontsize(16px);
	line-height:19px;
	height:100%;
	color:#232932;
}

h1,h2,h3,h4,h5,h6{
	font-weight:$w7;
}

p{
	@include fontsize(16px);
	font-weight:$w4;
	line-height:24px;
	color:lighten($black,15%);
}
img{
	
}

/**List of items 
1.	Breadcrumb
2.	Navigation
3.	Widget
**/
//Header
.header{
	&-main{
		background-color: #f6f6f6;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#feffff),to(#f6f6f6));
		background-image: linear-gradient(to bottom,#feffff,#f6f6f6);
		-webkit-background-image: linear-gradient(top,#feffff,#f6f6f6);
		-ms-background-image: linear-gradient(top,#feffff,#f6f6f6);
		-moz-background-image: linear-gradient(top,#feffff,#f6f6f6);
		-o-background-image: linear-gradient(top,#feffff,#f6f6f6);
		background-image: linear-gradient(top,#feffff,#f6f6f6);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feffff', EndColorStr='#f6f6f6')";
		height: 103px;
		&_logo{
			height:103px;
			background-repeat:no-repeat!important;
			position: relative;
			a{
				position:absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		&_search{
			
			line-height: 103px;
			vertical-align: middle;
			padding-top:31px;
			form{
				position:relative;
			}
			input{
				&.searchblog{
					padding: 0 40px 0 8px;
					-webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.1);
					-ms-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.1);
					-moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.1);
					-o-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.1);
					box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.1);
					margin-bottom: 0;
					background:#f2f2f2;
					border:1px solid #DAD8D8;
					color:$text;
					font-style:italic;
					@include fontsize(12px);
					&:focus{
						border:1px solid #DAD8D8;
					}
				}
			}
			button.searchbtn{
				position:absolute;
				top:5px;
				right:5px;
				width:30px;
				height:30px;
				background: rgb(254,159,0); 
				background: -moz-linear-gradient(top,  rgba(254,159,0,1) 0%, rgba(241,94,0,1) 100%); 
				background: -webkit-linear-gradient(top,  rgba(254,159,0,1) 0%,rgba(241,94,0,1) 100%); 
				background: linear-gradient(to bottom,  rgba(254,159,0,1) 0%,rgba(241,94,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9f00', endColorstr='#f15e00',GradientType=0 ); 
				color:$white;
				border:none;
				font-family: $opensans;
				@include fontsize(13px);
				font-weight: $w7;
				text-transform: capitalize;
				border:1px solid #ee6603;
				&:hover{
					background: rgb(241,94,0);
					background: -moz-linear-gradient(top,  rgba(241,94,0,1) 0%, rgba(254,159,0,1) 100%);
					background: -webkit-linear-gradient(top,  rgba(241,94,0,1) 0%,rgba(254,159,0,1) 100%);
					background: linear-gradient(to bottom,  rgba(241,94,0,1) 0%,rgba(254,159,0,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15e00', endColorstr='#fe9f00',GradientType=0 );
				}
				// &:before{
				// 	content:'a';
				// 	position:absolute;
				// 	top:0;
				// 	right:0;
				// 	color:$white;
				// }
			}

		}
		&_shopping{
			float: right;
			line-height:103px;
			vertical-align:middle;
			.btn-orange{
				margin-bottom: 0;
				padding:10px 22px;
			}
		}
	}
	&-nav{
		&_parent{
			.menu{
				&.dropdown{
					position:relative;
					z-index: 9;
				}
				> li{
					-webkit-transition: background-color .2s;
					-moz-transition: background-color .2s;
					-ms-transition: background-color .2s;
					-o-transition: background-color .2s;
					transition: background-color .2s;
					&.offer{
						background-color: #fe873c;
						&:hover{
							background-color: #fe9755;
						}
					}
					&:hover{
						background:#EFEFEF;
						-webkit-transform: scaleY(1);
						-ms-transform: scaleY(1);
						-moz-transform: scaleY(1);
						-o-transform: scaleY(1);
						transform: scaleY(1);
						opacity: 1;
						filter: alpha(opacity=100);
						visibility: visible;
						.submenu{
							-webkit-transform: scaleY(1);
							-ms-transform: scaleY(1);
							-moz-transform: scaleY(1);
							-o-transform: scaleY(1);
							transform: scaleY(1);
							opacity: 1;
							filter: alpha(opacity=100);
							visibility: visible;
							z-index: 999;
						}
					}
					> a{
						color:#222;
						@include fontsize(12px);
						font-family:$ubuntu;
						// -webkit-transition: background-color .2s;
						// -moz-transition: background-color .2s;
						// -ms-transition: background-color .2s;
						// -o-transition: background-color .2s;
						// transition: background-color .2s;
						&:after{
							display: none!important;
						}
					}
				}
				.submenu{
					border:none;
					background:#EFEFEF;
					-webkit-transition: visibility .3s,opacity .3s,-webkit-transform .3s;
					-moz-transition: visibility .3s,opacity .3s,-moz-transform .3s;
					-o-transition: visibility .3s,opacity .3s,-o-transform .3s;
					transition: visibility .3s,opacity .3s,transform .3s;
					-webkit-transform: scaleY(0);
					-ms-transform: scaleY(0);
					-moz-transform: scaleY(0);
					-o-transform: scaleY(0);
					transform: scaleY(0);
					opacity: 0;
					filter: alpha(opacity=0);
					visibility: hidden;
					transform-origin: top left;
				}
				&.submenu{
					>li{
						&:hover{
							background:#DDD;
						}
					}
				}
			}
		}
	}
}

// BreadCrumb
.breadcrumbs{
	li{
		&:not(:last-child)::after{
			color:#a6aeaf;
		}
		&.active{
			a{
				font-weight:$w7;
			}
		}
	}
	a{
		color:#464e4f;
		@include fontsize(12px);
		font-family: $arial;
		line-height: 55px;
		vertical-align: middle;
		text-transform: capitalize;
	}
}

//Navigation
/**navigation -left**/
.navigation{
	&-top{
		&_first{
			background-color: #f3f3f3;
			background-image: -webkit-gradient(linear,left top,left bottom,from(#feffff),to(#f3f3f3));
			background-image: linear-gradient(to bottom,#feffff,#f3f3f3);
			-webkit-background-image: linear-gradient(top,#feffff,#f3f3f3);
			-ms-background-image: linear-gradient(top,#feffff,#f3f3f3);
			-moz-background-image: linear-gradient(top,#feffff,#f3f3f3);
			-o-background-image: linear-gradient(top,#feffff,#f3f3f3);
			background-image: linear-gradient(top,#feffff,#f3f3f3);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feffff', EndColorStr='#f3f3f3')";
			border-bottom: solid 1px #d9d9d9;
			&--list{
				ul{
					margin:0;
					padding:0;
				}
				li{
					list-style: none;
					float:left;
					text-transform: uppercase;
					margin-left:15px;
					
					&:first-child{
						margin-left:0;
					}
					&:last-child{
						float: right;
					}
					.fa{
						color: $primary;
						@include fontsize(28px);
						font-weight: $w4;
						vertical-align: middle;
						margin-right: 2px;
					}
					&.nav{
						&-delivery{
							
						}
						&-recycle{
							
						}
						&-support{
							
						}
						&-value{
							
						}
						&-about{
							a{
								color: $primary;
							}
						}
						&-contact{
							a{
								color: $primary;
							}
						}
					}
					a{
						@include fontsize(13px);
						color:#222;
						font-family: $ubuntu;
						line-height: 34px;
						letter-spacing: -0.3px;
					}
				}
			}
		}
	}
	&-left{
		ul{
			margin:0;
			padding:0;
			// border:1px solid #eeeeee;
			// border-top:none;
			border-top:2px solid $primary;
			// @include fontsize(15px);
			// font-weight:$w7;
			// line-height: 47px;
			// padding-left: 25px;
			// margin-bottom: 0;
			border-left:1px solid #eeeeee;
			border-right:1px solid #eeeeee;
			border-bottom:1px solid #eeeeee;
			// color:$primary;
			margin-bottom:25px;
		}
		li{
			list-style: none;
			border-top:1px solid #eeeeee;
			line-height: 47px;
			vertical-align: middle;
			@media(max-width:991px){
				line-height: 20px;
			}
			&:first-child{
				border-top:none;
				background:#fafafa;
				a{
					color:$primary;
					@include fontsize(15px);
					font-weight:$w7;
					&:hover{
						background:transparent;
						color:$primary;
					}
				}
			}
			a{
				@include fontsize(13px);
				color:#464e4f;
				display: block;
				padding-left:25px;
				&:hover{
					color:$white;
					background:$primary;
					&:after{
						contet:'';
					}
				}
				@media(max-width:991px){
					// @include fontsize(12px);
					// padding-left:15px;
					padding:15px;
				}
			}
		}
	}
}
.is-dropdown-submenu{
	min-width:auto;
	width:100%;
}

