.post{
	&-banner{
		background-size: cover!important;
		background-repeat:no-repeat!important;
		background-position:50%!important;
		margin-bottom: 35px;
		position: relative;
		h3{
			position:absolute;
			color:$white;
			text-align: center;
			@include fontsize(50px);
			font-family:$opensans;
			font-weight: $w8;
			top:0;
			right:0;
			bottom:0;
			left:0;
			margin:auto;
			height:66px;
			width: 100%;
			// line-height: 131px;
			@media(max-width:1200px){
				@include fontsize(40px);
				height: 53px;
			}
			@media(max-width:991px){
				@include fontsize(32px);
				height: 47px;
			}
			@media(max-width:768px){
				@include fontsize(28px);
				height: 47px;
			}

		}
	}
	&-holder{
		-webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.17);
		-moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.17);
		box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.17);
		margin-bottom: 35px;
		padding-bottom: 27px;
	}
	&-title{
		&_icon{
			float:left;
			margin-right:25px;
		}
		&_headline{
			float:left;
			width:87%;
			@media(max-width:414px){
				width: 80%;
			}
			h2{
				font-family: $ubuntu;
				@include fontsize(18px);
				line-height: 24px;
				color:$primary;			
			}
		}
		&_entry{
			margin-bottom: 35px;
			h2{
				font-family: $ubuntu;
				@include fontsize(24px);
				line-height: 24px;
				color:$primary;	
				font-weight: $w4;
				line-height: 34px;
				margin-top: -6px;
			}

		}
	}
	&-image{
		margin-bottom:35px;
		&_featured{
			margin-bottom: 42px;
		}
	}
	&-content{
		&_entry{
			p{
				@include fontsize(14px);
				line-height:22px;
				margin-bottom: 23px;
				color:$text;
			}
		}
	}
	&-meta{
		&_author{
			padding-top:5px;
			float: left;
			padding-left:13px;
			a{
				color: $primary;
			}
			p{
				@include fontsize(11px);
				line-height: 18px;
				color:#8b8b8a;
			}
			&--image{
				overflow:hidden;
				width:47px;
				height:47px;
				padding-right:0;
				float:left;
				img{
					width:47px;
					height:47px;
					@include border-radius(50%);
				}
			}
			&--img{
				padding-left:0;
				padding-right:0;
			}
			&--name, %name{
				@include fontsize(12px);
				font-weight:$w7;
				color: $primary;
			}
			&--date, %date{
				@include fontsize(11px);
				color:#c8c9c1;
			}
			&--left{

			}
			&--right{
				@media(max-width:767px){
					padding-left:0;
				}
			}
			&--details{
				float: left;
				.author{
					&-name{
						@extend %name;
						float:left;
						@inlcude fontsize(13px);
					}
					&--date{
						@extend %date;
						float: left;
						@include fontsize(13px);
						color:#c8c9c1;
					}
				}
			}
		}
	}
	&-comment{
		&_wrap{
			text-align: right;
			line-height: 47px;
			vertical-align: middle;
			@include fontsize(12px);
			font-weight: $w7;
			color: $primary;
			img{
				margin-right:13px;
				@media(max-width:767px){
					margin-right:7px;
				}
			}
			a{
				color: $primary;
			}
			@media(max-width:991px){
				text-align: left;
			}
		}
	}
	
}